* {
box-sizing: border-box;
}

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin: 5px;
        }

    input[type=button] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin: 5px;
        }

    input[type=submit]:hover {
        background-color: #45a049;
        }
    
    input[type=button]:hover {
        background-color: #45a049;
        }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        height: auto;
        overflow: auto;
        }

        .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
        }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
        }

/* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
        }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        }
        }
    body{
        /* text-align: center; */
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
        min-height: 100vh;
        /* background-color: #fed330 */
        background-image: url('../img/bg.jpg');
        background-size: 100% 130%;

        }
    .error {color: #FF0000;}

    .country {
        color: black;
        font-family: Lucida Handwriting;
        font-size: 200%;
        /* text-align: center; */
        }
    .mid {
        text-align: center;
        }

    .long {
        height:40px;
        width: 200px;
        }
